<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8">
    <link href="./styles/cssreset-min.css" rel="stylesheet">
    <link href="./styles/main.css" rel="stylesheet">
    <script src="./scripts/angular.min.js"></script>
    <script src="./scripts/api.js"></script>
    <script src="./scripts/main.js"></script>
  </head>
  <body ng-controller="ctrl">
  <header id="header">
    <a id="login">登录</a>
    <form class="searchForm" ng-submit="submit()">
      <input ng-model="xx" class="searchInput">
      <button ng-click="submit()" style="display: none">搜索</button>
    </form>
  </header>
  <section id="resultList">
    <aside id="listList">
      <ul>
        <li ng-repeat="list in listList.name" class="paddingX5"
            ng-class="{selected: $index == listList.selected}">
          <a href="javascript: void 0">
            {{list}}
          </a>
        </li>
      </ul>
    </aside
    ><table id="resultTable">
    <tbody>
    <tr class="songRaw">
      <th class="rowNum">序号</th>
      <th class="songsTh">歌曲</th>
      <th class="artistsTh">歌手</th>
      <th class="specialTh">专辑</th>
    </tr>
    <tr ng-repeat="song in songsArr" class="songRaw">
      <td class="rowNum">{{$index + 1}}</td>
      <td>
        <a href="javascript: void 0" ng-click="getSong($index)">
          {{song.name}}
        </a>
      </td>
      <td>
        {{song.ar[0].name}}
      </td>
      <td>
        {{song.al.name}}
      </td>
    </tr>
    </tbody>
  </table>
  </section>
  <section id="toolBar">
    <span class="iconfont">&#xe602;</span>
    <span class="iconfont">&#xe600;</span>
    <span class="iconfont">&#xe601;</span>
    {{archiveProcess}}
  </section>
  </body>
</html>
