<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8">
    <link href="./styles/cssreset-min.css" rel="stylesheet">
    <link href="./styles/main.css" rel="stylesheet">
    <script src="./scripts/angular.min.js"></script>
    <script src="./scripts/api.js"></script>
    <script src="./scripts/component.js"></script>
    <script src="./scripts/main.js"></script>
  </head>
  <body ng-controller="ctrl">
  <header id="header">
    <a id="login">登录</a>
    <form class="searchForm" ng-submit="submit()">
      <input ng-model="defaultSearchValue" class="searchInput">
      <button ng-click="submit()" style="display: none">搜索</button>
    </form>
    <nav id="nav">
      <ul class="navListContainer">
        <li class="active">
          <a href="javascript: void 0">
            找歌
          </a>
        </li>
        <li>
          <a href="javascript: void 0">
            歌词
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <div search-panel></div>
  <input ng-model="xx">
  <div lyric-panel lyric="xx"></div>

  <div tool-bar></div>
  </body>
</html>
