$listListColor: #3C3F41;
$listListSelectedColor: #0D293E;
$rowNumColor: #313335;
$listColor: #2B2B2B;
$listHoverColor: #323232;
$listFontColor: #B2B3B2;
$scrollBarColor: #494949;
$scrollBarHoverColor: #7D7D7D;

$searchFormBgColor: #45494A;
$searchFormBorderColor: #606061;
$searchFormFocusBorderColor: #536DA4;

$headerBgColor: #3E434C;

@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1459573532_6351242.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1459573532_6351242.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1459573532_6351242.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1459573532_6351242.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1459573532_6351242.svg#iconfont') format('svg'); /* iOS 4.1- */
}

a{
  outline: none;

  color: inherit;
  text-decoration: none;
}


::-webkit-scrollbar-track
{
  background-color: $listColor;
}

::-webkit-scrollbar
{
  width: 10px;
  background-color: $listColor;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollBarColor;
  &:hover {
    background-color: $scrollBarHoverColor;
  }
  border-radius: 5px;
  
  -webkit-transition: background-color 0.5s;
}

.iconfont{
  font-family: iconfont, sans-serif !important;
}

.paddingX5{
  padding-left: 5px;
  padding-right: 5px;
}

#resultList{
  color: $listFontColor;
  font-size: 14px;
  line-height: 1.5em;

  height: 500px;

  th, td{
    @extend .paddingX5;
  }

  .songsTh{
    width: 200px;
  }
  .artistsTh{
    width: 120px;
  }
  .specialTh{
    width: 220px;
  }
  .songRaw{
    box-sizing: border-box;
    &:hover{
      background-color: $listHoverColor;
    }

    &>.rowNum{
      background-color: $rowNumColor;

      text-align: right;
      border-right: 1px solid #545454;
    }
  }
}

#listList, #resultTable{
  display: inline-block;

  vertical-align: top;
}

#resultTable{
  display: block;
  //bfc
  overflow: hidden;
  height: 100%;

  &>tbody{
    display: block;
    height: 100%;

    background-color: $listColor;
    overflow-y: scroll;
  }
}
#listList{
  float: left;

  width: 150px;
  height: 100%;

  background-color: $listListColor;
  border-right: 1px solid #2D2E2E;

  .selected{
    background-color: $listListSelectedColor;
  }
}

#toolBar{
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;

  //background-color: #7BDCEF;
  padding-left: 20px;
  padding-right: 20px;
}
#songPic{
  height: 50px;
  width: 50px;
  display: inline-block;

  //background-color: rebeccapurple;
  margin-top: 10px;
}
.searchForm{
  display: inline-block;
  margin-top: 7px;

  .searchInput{
    height: 26px;
    border: 1px solid $searchFormBorderColor;
    border-radius: 13px;
    box-sizing: border-box;
    background-color: $searchFormBgColor;
    outline: none;
    color: $listFontColor;

    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;

    &:focus{
      box-shadow: 0 0 1px 1px $searchFormFocusBorderColor;
    }
    transition: box-shadow 0.2s;
  }
}

#header{
  height: 40px;

  background-color: $headerBgColor;
  border-bottom: 1px solid #515151;
  .searchForm{
    float: right;
    margin-right: 20px;
  }
}

#login{
  color: $listFontColor;

  float: right;
  margin-top: 12px;
  margin-right: 20px;
  font-size: 14px;
}
